---
import Layout from "../layouts/Layout.astro";
import Main from "../components/Main.astro";
import Hero from "../components/Hero.astro";
import Circle from "../components/Circle.astro";
---

<Layout title='AntDev'>
  <Main>
    <Hero />
    <Circle />
  </Main>
</Layout>
